In [1]:
# 1.1
a = input()
b = int(input())
print(a)
print(b)

hello world
21
hello world
21

In [2]:
# 1.2
a = int(input())
b = int(input())
print(f"Summation: {a+b}")
print(f"Multiplication: {a*b}")

10
5
Summation: 15
Multiplication: 50

In [3]:
# 1.3
a = int(input())
b = float(input())
print(a+b, end= " ")
print(a-b)

4
5
9.0 -1.0

In [5]:
# 1.4
a = int(input())
b = int(input())
b = float(b)
a = str(a)
b = str(b)
print(a+b)

2
3
23.0

In [6]:
# 2
a = int(input())
b = int(input())
print(f"{a}^{b}:{a**b}")

2
3
2^3:8

In [13]:
# 3
a = int(input())
print(int(a-(a%4)))

23
20

In [17]:
# E1
a = int(input())
b = int(input())
c = int(input())
d = float(input())
print(int((a**c)+(2*b)*(a//2)-d/3))

88
22
1
3.3
2022

In [18]:
# E2
first = input("First Name: ")
last = input("Last Name: ")
age = int(input("Age: "))
cgpa = float(input("CGPA: "))
print(f"Name: {first} {last}\nAge: {age}\nCGPA: {cgpa}")

First Name: Labiba
Last Name: Arif
Age: 21
CGPA: 3.95
Name: Labiba Arif
Age: 21
CGPA: 3.95

In [20]:
# HT 3
a = int(input())
print(f"Each friend will receive {int(a/3)} chocolates\nThe number of remaining chocolates is {int(a%3)} ")

90
Each friend will receive 30 chocolates
The number of remaining chocolates is 0