In [1]:
# Class Task 1.1
def even_checker(a) :
  if a%2 == 0 :
    print("Ëven!!")
  else :
    print("Ödd!!")
even_checker(10)
even_checker(17)

Ëven!!
Ödd!!

In [2]:
# Class Task 1.2
def is_even(a) :
  if a%2 == 0 :
    return True
  return False
result = is_even(10)
print( result )
result = is_even(17)
print( result )

True
False

In [3]:
# Class Task 1.3
def is_pos(a) :
  if a< 0 :
    return False
  return True
result = is_pos(-5)
print( result )
result = is_pos(12)
print( result )

False
True

In [14]:
# Class Task 1.4
def sequence(a) :
  if is_even(a) :
    if is_pos(a) :
      for index in range (a+1) :
        if index%2 == 0 :
          print(index, end = ' ')
    else :
      for index in range(a, 0, 1) :
        if index%2 != 0 :
          print(index, end = " ")
  else :
    if is_pos(a) :
      for index in range (a) :
        if index%2 == 0 :
          print(index, end = ' ')
    else :
      for index in range(a, 0, 1) :
        if index%2 != 0 :
          print(index, end = " ")
  print()


sequence(10)
sequence(-7)
sequence(7)
sequence(-8)

0 2 4 6 8 10
-7 -5 -3 -1
0 2 4 6
-7 -5 -3 -1

In [15]:
# Class Task 2.1
def is_valid_triangle(a, b, c) :
  if a+b>c and b+c >a  and c+a > b :
    return True
  else :
    return False
result=is_valid_triangle(7,5,10)
print( result )
result=is_valid_triangle(3,2,1)
print( result )

True
False

In [16]:
# Class Task 2.2
def tri_area(a,b,c) :
  if is_valid_triangle(a,b,c) :
    s = (a+b+c)/2
    print((s*(s-a)*(s-b)*(s-c))**0.5)
  else :
    print("Can't form triangle")

tri_area(3,2,1)
tri_area(7,5,10)

Can't form triangle
16.24807680927192

In [18]:
# Class Task 3.1
def circle(a) :
  return 3.1416*a*a
circle(5)

78.54

In [19]:
# Class Task 3.2
def sphere(a) :
  return (4/3)*3.1416*(a**3)
sphere(5)

523.5999999999999

In [22]:
# Class Task 3.3
def fitting(a, b, c) :
  if c == 2 :
    # print(circle(a), circle(b))
    if circle(b)-circle(a) > 0 :
      print("Circle-1 can fit inside Circle-2 and", circle(b)-circle(a),"square units would be left.")
    else :
      print("Impossible to fit")
  else :
    # print(sphere(a), sphere(b))
    if sphere(a)-sphere(b) > 0 :
      print("Sphere-2 can fit inside Sphere-1 and", sphere(a)-sphere(b), "cubic units would be left.")
    else :
      print("Impossible to fit")

fitting(8,10,2)
fitting(30,14,3)
fitting(5,5,3)

Circle-1 can fit inside Circle-2 and 113.09760000000003 square units would be left.
Sphere-2 can fit inside Sphere-1 and 101603.53279999999 cubic units would be left.
Impossible to fit

In [31]:
# Class Task 5.1
def one_to_N(a, n) :
  if a == n:
    print(a)
    return n
  else :
    print(a, end = " ")
    one_to_N(a+1, n)
n = int(input())
one_to_N(1, n)
# You will get an extra input if you run this code in google colab. Do not panic, it will not show in other compilers

5
1 2 3 4 5

In [30]:
# Class Task 5.2
def reverse_printing(a, n) :
  if n == a :
    print(n)
    return n
  else :
    print(n, end= " ")
    reverse_printing(a, n-1)
n = int(input())
reverse_printing(1, n)

6
6 5 4 3 2 1

In [36]:
# Class Task 5.3
sum = 0
def reverse_summation(a, n) :
  if n == a :
    return n
  else :
    return(n+reverse_summation(a, n-1))
n = int(input())
reverse_summation(1, n)

12

78

In [37]:
# Home Task 1.1
def is_prime(a) :
  for index in range(2,a) :
    if a%index == 0 :
      return False
  return True
prime_check = is_prime(7)
print(prime_check)
prime_check = is_prime(15)
print(prime_check)

True
False

In [40]:
# Home Task 1.2
def is_perfect(a) :
  sum = 0
  for index in range(1,a) :
    if a%index == 0 :
      sum += index
  if sum == a :
    return True
  return False
perfect_check = is_perfect(6)
print(perfect_check)
perfect_check = is_perfect(33)
print(perfect_check)

True
False

In [43]:
# Home Task 1.3
def special_sum(a) :
  sum = 0
  for index in range(2, a) :
    if (is_prime(index)) :
      sum += index
    if (is_perfect(index)) :
      sum += index
  return sum
result = special_sum(8)
print(result)
result = special_sum(30)
print(result)

23
163

In [55]:
# Home Task 2.1
def show_dots(a) :
  print("."*a, end = "")
show_dots(5)
print()
show_dots(3)

.....
...

In [54]:
# Home Task 2.2
def show_palindrome(a) :
  for index in range(1,a+1) :
    print(index, end="")
  for index in range(a-1,0,-1) :
    print(index, end = "")
  print(end="")
show_palindrome(5)
print()
show_palindrome(3)

123454321
12321

In [58]:
# Home Task 2.3
def show_triangle(a) :
  for index in range(1, a+1) :
    show_dots(a-index)
    show_palindrome(index)
    show_dots(a-index)
    print()
show_triangle(3)
show_triangle(5)

..1..
.121.
12321
....1....
...121...
..12321..
.1234321.
123454321

In [61]:
# Home Task 3.1
def calc_tax(age, salary) :
  if age > 18 :
    if salary <= 10000 :
      return 0
    elif salary <= 20000 :
      return 0.07*salary
    else :
      return 0.14*salary
  else :
    return 0

t = calc_tax(16,20000)
print(t)
t = calc_tax(20,18000)
print(t)

0
1260.0000000000002

In [64]:
# Home Task 3.2
def calc_yearly_tax() :
  age = int(input())
  sum = 0
  for index in range(1, 13) :
    salary = int(input())
    a = calc_tax(age, salary)
    sum += a
    print(f"Month{index} tax: {a}")
  print(f"Total Yearly Tax: {sum}")
calc_yearly_tax()

22
8000
Month1 tax: 0
15000
Month2 tax: 1050.0
22000
Month3 tax: 3080.0000000000005
2300
Month4 tax: 0
15300
Month5 tax: 1071.0
21000
Month6 tax: 2940.0000000000005
34000
Month7 tax: 4760.0
9000
Month8 tax: 0
27000
Month9 tax: 3780.0000000000005
88000
Month10 tax: 12320.000000000002
32000
Month11 tax: 4480.0
7300
Month12 tax: 0
Total Yearly Tax: 33481.0

In [67]:
# Home Task 4.1
def reverse_digits(n) :
  if (n//10 == 0) :
    print(n)
    return n
  else :
    print(n%10)
    reverse_digits(n//10)
reverse_digits(12345)

5
4
3
2
1

In [69]:
# Home Task 4.2
def power(a, n) :
  if n == 1 :
    return a
  else :
    return a* power(a, n-1)
a = int(input())
b = int(input())
power(a, b)

9
4

6561

In [72]:
# Home Task 5.0
def sequence_iterative(a) :
  sum = 0
  for index in range(a+1) :
    if index%2 == 0 :
      sum -= index
    else :
      sum += index
  print(sum)
sequence_iterative(int(input()))

10
-5

In [74]:
# Home Task  5.1
def sequence_recursive(a) :
  if a == 1 :
    return a
  else :
    if a%2 == 0 :
      return -a + sequence_recursive(a-1)
    else :
      return a+ sequence_recursive(a-1)
sequence_recursive(int(input()))

10

-5